.navbar{
    display: flex;
    gap: 100px;
    box-sizing: border-box;
    
    width: 100%;
    position: fixed;
    top: 0;
   
   
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

img{
    width: 180px;
}
.container{
    /* border: 2px solid blue; */
    width: 100%;
    margin-top: 70px;
  
}
.tags{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}
.navbar_tag{
    font-family: "Merriweather Sans", sans-serif;
    --font-family-display: "Miller Display Bold", serif;
    font-size: 15px; 
    font-weight: bold;
    color: rgb(73, 72, 72);
    cursor: pointer;
    margin-left: 20px;
    
}


button{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 6px;
    height: 60%;
    align-content: center;
    background-color: rgb(207, 249, 249);
    color: black;
    border-radius: 10%;
    border: 1 px solid rgb(207, 249, 249) ;
}
.navbar_tag:hover{
    color: rgb(122, 188, 188);
}

.facilities{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: space-around;
    justify-content: space-between;
    
}

.icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
h5{
    display: flex;
    border: 1px solid black;
    width: 25%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.image{
    border: 2px solid white;
    background-image: url("https://res.cloudinary.com/enchanting/q_80,f_auto,c_lfill,w_1600,h_400,g_auto/exodus-web/2022/07/armenia-2.jpg");
}

.armania{
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    margin-top: 4%;
    padding: 20px;
    margin-bottom: 4%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.5);
    background: blurred;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    --font-family-display: "Miller Display Bold", serif;
}
.content{
    display: flex;
    justify-content: space-around;
}
.h22{
    color: rgb(86, 83, 83);
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    margin-left: 10%;
    margin-top: -10px;
   
    font-family: 'Times New Roman', Times, serif;

    
}

.p{
    color: rgb(166, 163, 163);
    font-weight: bold;
    padding: 15px ;
    font-family: "Merriweather Sans", sans-serif;
  
}
.call{
    /* border: 1px solid gray; */
    padding: 10px 10px;
    width: 90%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.form_div{
    background-color: rgb(49, 47, 47);
    color: white;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inner-box{
    width: 80%;
    margin: auto;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}
.box{
    background-color: white;
    height: 20px;
    color: black;
}

.hamburger-icon{
    display: none;
}

.content button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-left: 40%;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    font-size: 15px;
    align-content: center;
    background-color: rgb(207, 249, 249);
    color: black;
    border-radius: 10%;
    border: 1 px solid rgb(207, 249, 249) ;
    align-self: center;

}

#tourDescription{
    width: 80%;
    margin: auto;
    font-size: 18px;
    margin-top: -25px;
    color: rgb(110, 106, 106);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#additionalContent{
    width: 80%;
    margin: auto;
    font-size: 18px;
    color: rgb(110, 106, 106);
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}








/* for resosiveness */






@media only screen and (max-width: 850px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }
    .num{
        display: none;
    }

    .container{
        width: 100%;
    }
    .armania{
        padding: 20px;
    }
    .h22{
        padding: 15px;
    }
    .p{
        padding: 15px;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navbar button {
        margin-top: 10px;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
        font-size: 20px;
        margin-right: 10px;
    }
   
    .navbar_tag,  button {
        display: none;
    }

    .call{
        text-align: center;
        margin-right: 15px;
    }

    .form_div{
        width: 90%;
        margin: auto;
        padding: 10px;
        margin-bottom: 5px;
        margin-right: 15px;
    }

    .content button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        height: 50%;
        align-content: center;
        color: black;
    border-radius: 10%;
    border: 1 px solid rgb(207, 249, 249) ;
    }
    
.hidden {
    display: none;
  }
}








.hidden {
    display: none;
  }