.navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    position: static;
}

.facilities{
    display: flex;
    justify-content: space-around;
}
img{
    width: 100%;
    margin: auto;
}
.armania{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: gray;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content{
    display: flex;
    justify-content: space-around;
}

.form_div{
    background-color: rgb(49, 47, 47);
    color: white;
    width: 300px;
}
.inner-box{
    width: 80%;
    margin: auto;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}
.box{
    background-color: white;
    height: 20px;
    color: black;
}